:root {
  color-scheme: light;

  font-family:
    Inter,
    system-ui,
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
